.tours {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 127px;
    padding-top: 227px;
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}

.title--flame {
    position: relative;
    margin-bottom: 51px;
}

.title--flame:after {
    position: absolute;
    content: '';
    width: 21px;
    height: 28px;
    left: 288px;
    top: 12px;
    background: url(../../images/flame.png);
}

.tours__list {
    display: flex;
    justify-content: space-between;
}

.tours__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 450px;
    border-radius: 5px;
    background: #fff;
    margin-right: 28px;
}

.tours__item:last-child {
    margin-right: 0;
}

.tours__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 37px 19px 23px 21px;
    color: #000000;
}

.tours__title {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 15px;
}

.tours__features {
    display: flex;
    justify-content: space-between;
    max-width: 276px;
    padding-left: 4px;
    padding-bottom: 10px;
}

.tours__feature {
    display: flex;
    align-items: center;
    margin-right: 21px;
}

.tours__feature:last-child {
    margin-right: 0;
}

.tours__feature-icon {
    padding-right: 12px;
    padding-bottom: 5px;
}

.tours__text {
    font-size: 14px;
    color: #303030;
    line-height: 1.55;
}

.tours__image {
    border-radius: 5px 5px 0px 0px;
}